<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inviation to login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <p>Email: <%=data.email%></p>
    <p>Password: <%=data.password%></p>
    <p>If you are going to login now, please click <a href="<%=data.siteURL%>">here</a></p>
</body>

</html>